
/*--- Responsive CSS ---*/
@media only screen and (max-width : 1200px){

.title_head {padding: 9px 15px;}
.title_box {width: 53%;}
.title_head span {font-size: 14px;}
.title_box .input-group .form-control { height: 35px;}
.title_box .input-group-btn > .btn { height: 35px;}
.login_sec ul li a {padding: 5px 18px;height: 35px;}
.title_head .course_list {top: 52px;}
	
.choose_list {padding: 20px 15px;}
	
.fnc_banner_text {  padding-top: 280px;}	
	
.schedule_dts {padding-right: 20px;margin-right: 5px;}
	
}
/* Desktops and laptops */
@media only screen and (min-device-width : 768px) and (max-device-width : 990px){
	
.logo { margin: 0px 0px;}	
.title_head {padding: 13px 10px;}
.title_box { width: 60%!important; padding: 4px 0px !important;}
.sm_nav { display:block;float: right;border: 1px solid #bf1e2e;font-size: 24px;padding: 0px 10px;background: #bf1e2e;color: #fff;border-radius: 4px; transition:.3s; cursor:pointer;margin: 4px 0px;}
.sm_nav:hover{ background:#333; border-color:#333;}
.login_sec{ display:none;}
.login_sec {position: absolute;top: 50px;right: 15px;width: 170px;}
.login_sec ul li a {font-size: 13px;margin: 5px 0px;}
.login_sec ul li a:hover {border-color: #333;color: #fff;background: #333;}

.why_choose h1 { margin-bottom: 30px !important;}
.choose_list {padding:40px 20px !important;margin: 10px 0px;border-radius: 2px;}
.choose_list:hover {
    -webkit-transform: translate(0px,-10px);
    transform: translate(0px,-10px);
}

.about_content h2 {font-size: 30px;padding: 0px 0px 20px;}
.about_content p {text-align: justify;}
.about_image{ display:none;}

.why_choose, .about_us, .meet_lecturers, .blog {padding:35px 0px;}
.why_choose h1, .about_content h2 {font-size:30px;padding: 0px; color:#333;margin-bottom: 15px;}
.sub_title h2 {font-size: 30px;color: #333;}

.popular_course {padding: 10px 0px 35px;}
.popular_course .course_list { margin: 35px 0px;}
.popular_course .course_image img {height: 130px;}
.popular_course .rating_box {padding: 15px 0px !important;}
.popular_course .course_text {padding: 0px 0px 30px !important;}
.popular_course .course_text h3 {font-size: 18px !important;}
.popular_course .course_text ul.author-name {margin-bottom: 15px !important;}
.popular_course .course_text p {font-size: 13px;line-height: 21px;text-align: justify;}
.popular_course .all_course a {margin: 0px auto !important;font-size: 16px;}
 
.our_activities {padding: 40px 0px;}
.our_activities .activity_list {padding: 20px 10px !important;}
.our_activities .act_icon img {height: 35px !important;}
.our_activities .act_text h3 {font-size: 20px;border-bottom: 2px solid #fff;padding-bottom: 8px;margin-bottom: 8px;}
.our_activities .act_text p {font-size: 20px;line-height: 20px;}
	
.meet_lecturers .lecturer_list {padding: 35px 0px;}
.meet_lecturers .lec_image img {height: 215px !important;}

.upcoming_event {padding: 10px 0px 35px;}	
.upevent_date {padding: 35px 0px;}
.upevent_list {padding: 20px 0px;}
.upcoming_event h2 {font-size: 30px;padding-bottom: 20px;}
.upevent_date h3 {font-size: 55px;line-height: 35px;padding-bottom: 10px;}
.upevent_picture img {height: 135px;} 
.upevent_text h4 {font-size: 20px !important;}   
.upevent_text p {font-size: 14px !important;padding: 15px 0px !important;line-height: 22px;}

.blog .blog_list {margin: 35px 0px;}
.blog .blog_image img {height: 120px !important;}
.blog .blog_text h3 {font-size: 18px !important;padding: 15px 0px !important;}
.blog .blog_text .btn_more {margin: 20px 0px;}
.blog .blog_text ul li {font-size: 13px !important;}

footer { padding: 35px 0px;}
.footer_form .form-group {margin-bottom: 20px;}
.footer_bottom { padding: 20px 0px;}
.footer_address{ text-align:center;}
.footer_copyright p {text-align: center;padding-top: 10px;}

.inner_title {padding-top: 35px !important;}
.inner_title h1 {font-size: 45px !important;}
.inner_title .breadcrumb li {font-size: 14px;}
.inner_title .breadcrumb {margin: 15px 0px;}
.special_course {padding: 35px 0px !important;}
.spl_text { padding: 0px 15px;}
.spl_picture img { height: 170px;}

	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 
.title_head {padding: 13px 10px !important;}
.title_box { width: 58%!important; padding: 4px 0px !important;}
.sm_nav { display:block;float: right;border: 1px solid #bf1e2e;font-size: 24px;padding: 0px 10px;background: #bf1e2e;color: #fff;border-radius: 4px; transition:.3s; cursor:pointer;margin: 4px 0px;}
.sm_nav:hover{ background:#333; border-color:#333;}
.login_sec{ display:none;}
.login_sec {position: absolute;top: 50px;right: 15px;width: 170px;z-index: 99;}
.login_sec ul li a {font-size: 13px;margin: 5px 0px;}
.login_sec ul li a:hover {border-color: #333;color: #fff;background: #333;}	
.title_head .course_list {top: 60px;}
.why_choose h1 { margin-bottom: 30px !important;}
.choose_list {padding:40px 20px !important;margin: 10px 0px;border-radius: 2px;}
.choose_list:hover {
    -webkit-transform: translate(0px,-10px);
    transform: translate(0px,-10px);
}
	
.about_content h2 {font-size: 30px;padding: 0px 0px 20px;}
.about_content p {text-align: justify;}
.about_image{ display:none;}

.why_choose, .about_us, .meet_lecturers, .blog {padding:35px 0px;}
.why_choose h1, .about_content h2 {font-size:30px;padding: 0px; color:#333;margin-bottom: 15px;}
.sub_title h2 {font-size: 30px;color: #333;}

.popular_course {padding: 10px 0px 35px;}
.popular_course .course_list { margin: 35px 0px;}
.popular_course .course_image img {height: 130px;}
.popular_course .rating_box {padding: 15px 0px !important;}
.popular_course .course_text {padding: 0px 0px 30px !important;}
.popular_course .course_text h3 {font-size: 18px !important;}
.popular_course .course_text ul.author-name {margin-bottom: 15px !important;}
.popular_course .course_text p {font-size: 13px;line-height: 21px;text-align: justify;}
.popular_course .all_course a {margin: 0px auto !important;font-size: 16px;}
 
.our_activities {padding: 40px 0px;}
.our_activities .activity_list {padding: 20px 10px !important;}
.our_activities .act_icon img {height: 35px !important;}
.our_activities .act_text h3 {font-size: 20px;border-bottom: 2px solid #fff;padding-bottom: 8px;margin-bottom: 8px;}
.our_activities .act_text p {font-size: 20px;line-height: 20px;}
	
.meet_lecturers .lecturer_list {padding: 35px 0px;}
.meet_lecturers .lec_image img {height: 215px !important;}

.upcoming_event {padding: 10px 0px 35px;}	
.upevent_date {padding: 35px 0px;}
.upevent_list {padding: 20px 0px;}
.upcoming_event h2 {font-size: 30px;padding-bottom: 20px;}
.upevent_date h3 {font-size: 55px;line-height: 35px;padding-bottom: 10px;}
.upevent_picture img {height: 135px;} 
.upevent_text h4 {font-size: 20px !important;}   
.upevent_text p {font-size: 14px !important;padding: 15px 0px !important;line-height: 22px;}

.blog .blog_list {margin: 35px 0px;}
.blog .blog_image img {height: 120px !important;}
.blog .blog_text h3 {font-size: 18px !important;padding: 15px 0px !important;}
.blog .blog_text .btn_more {margin: 20px 0px;}
.blog .blog_text ul li {font-size: 13px !important;}

footer { padding: 35px 0px;}
.footer_form .form-group {margin-bottom: 20px;}
.footer_bottom { padding: 20px 0px;}
.footer_address{ text-align:center;}
.footer_copyright p {text-align: center;padding-top: 10px;}
	
.financial_modling {padding: 40px 0px !important;}
	
.talk_btn {width: 200px;height: 40px;padding: 9px 15px;font-size: 14px;top: 45%;right: -80px;}
.talk_form {padding: 30px 30px !important; width: 300px !important;}
.talk_form h2 {font-size: 22px !important;margin-bottom:25px !important;}
.talk_form .form-control {height: 45px;font-size: 15px;}
.talk_form .btn_qry {font-size: 18px;margin-top:20px !important;}

.enquiry_btn a {margin: 6px 0px;} 
.schedule_dts { padding: 10px 10px !important;}	
.schedule_dts h4 {font-size: 13px !important;}
.schedule_dts span {font-size: 13px !important;}
.about_dts p {font-size: 12px !important;line-height: 18px !important;}
.fnc_about .view_list li h3 {font-size: 50px !important;}
.rat_progress {width: 70%;}
.rat_star {width: 24%;}
.rat_percent {width: 6%;}
.apps_details { padding-right: 15px;}
.apps_details p {font-size: 15px;}
.apps_image {right: 15px;}
.apps_image img {height: auto !important;}
.trail_now {width: 100%;}
	
.faculty_details{ width: 90% !important; padding: 30px !important;  margin: 100px auto !important;}
.faculty_details .close {font-size: 35px !important;right: 10px !important;top: 5px !important;line-height: 20px !important;}
.facilty_dts {padding: 25px 25px !important;}
.facilty_dts p {font-size: 13px !important;line-height: 22px !important;}
.facilty_dts span {padding: 10px 0px !important;}

}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
.phone_no p { font-size: 15px;padding: 8px 0px;}
.social_media {background: #244475;padding: 5px 0px;}
.menu_bar { padding: 15px 0px;}	
.title_head {padding: 10px 15px;}
.title_head span {font-size: 14px;}
.title_box {width: 55%;padding: 0px 0px;}
.title_box .input-group .form-control {height: 35px; }
.title_box .input-group-btn > .btn {height: 35px;padding: 7px 12px; }
.login_sec ul li a {padding: 5px 18px;height: 35px;}
.login_sec ul {padding: 0px 0px;}
.login_sec ul li a.signup {font-size: 14px;}

.choose_list {padding: 20px 20px;}
	 
.popular_course .course_image img {height: 170px;}
	 
.our_activities .activity_list {padding: 15px 20px;}
	 
.popular_course .rating_box {padding: 20px 15px;}
.popular_course .course_text {padding: 0px 15px 50px;}

.meet_lecturers .lec_image img {height: 190px;}

.upevent_text h4 {font-size: 22px;}
.upevent_text p {font-size: 15px;padding: 20px 0px;}

.blog .blog_text {padding: 10px 20px;}
.blog .blog_text h3 {font-size: 22px;padding: 20px 0px;}
.blog .blog_text ul li { padding-right: 15px;font-size: 14px;}

.footer_address li {padding-right: 10px;}

.inner_title {padding-top:50px;}
.inner_title h1 {font-size: 55px;}
.inner_title .breadcrumb {margin: 15px 0px;}
.special_course {padding: 50px 0px;}
.spl_text { padding: 0px 15px;}
.spl_picture img { height: 170px;}
	
.financial_modling {padding: 60px 0px;}
.fnc_main {padding: 0px 0px;}
.fnc_modling_list {margin: 25px 0px;}
	
.talk_form {padding: 60px 50px; width: 370px;}
.talk_form h2 {font-size: 25px; margin-bottom:40px;}
.talk_form .btn_qry {margin-top:40px}

.enquiry_btn a {height: 45px;line-height: 45px; float: left;width: 180px;}
.enquiry_btn a i {line-height: 45px;padding: 0px 15px;}
.fnc_nav li a {padding: 10px 5px;}
.fnc_nav li a img {margin-bottom: 5px;height: 25px;}
.fnc_nav li a span {font-size: 14px;}
.fnc_banner_text {padding: 10% 0px;text-align: center;}
.mobile_box {top: 50%;left: 50%;transform: translate(-50%, -50%);position: absolute;width: 100%;}
.fnc_banner_text h1 {font-size:70px;}
.fnc_banner_text p {font-size: 18px;font-weight: 500; padding: 10px 0px;}
.fnc_banner_text .fnc_btns {margin-top: 25px;}
.fnc_banner_text .fnc_btns a {font-size: 18px;font-weight: normal;padding: 10px 25px;margin-right: 10px;}
.fnc_banner_text .fnc_btns a span {margin-left: 10px;line-height: 13px;}
.fnc_banner_text .fnc_btns a span img {height: 22px;}	
.about_dts {padding-top: 35px;}
.about_dts h2 {font-size: 25px;margin-bottom: 0px;line-height: 30px;}
.about_dts span.abt_text {font-size: 18px;font-weight: 600;padding: 10px 0px;line-height: 25px;}
.about_dts p {font-size: 14px;line-height: 22px;}
.schedule_list{ margin: 20px 0px;}
.schedule_list h3 {font-size: 25px;padding: 15px 0px;}
.schedule_dts {border: 1px solid #ccc;margin: 5px 0px;padding: 15px 20px;background: #f1f1f1;}
.schedule_dts span {font-size: 16px;}
.schedule_dts h4 {font-size: 16px;}
.fnc_about .view_list {width: 100%;margin-top: 0px;}
.fnc_about .view_list li {padding: 30px 20px;text-align: center;}
.fnc_about .view_list li h3 {font-size: 55px;}
.fnc_about .view_list li span {font-size: 15px;}
.learn_course {padding: 35px 0px;}
.learn_course h2 {font-size: 25px; padding-bottom: 20px;}
.lrn_course_list {height: 220px;margin: 10px 0px;padding: 25px 25px;}	
.certificate_dts h2 {font-size: 25px;}
.certificate_dts p {font-size: 16px;padding: 20px 0px;line-height: 24px;}
.certificate_picture img {height: 210px;}
.certificate_dts .btn_get {font-size: 16px; font-weight: 700;margin: 10px 0px;}
.certificate_picture { margin-top: 15px;}
.certificate_view {padding-bottom: 0px;}
.certificate_rating {padding: 35px 0px;  }
.certificate_rating h2 {font-size: 25px;padding-bottom: 30px;}
.rating_view h3 {font-size: 80px;line-height: 70px;margin-top: 12px;}
.rating_view .view_star {padding: 10px 0px;}
.rating_view p {font-size: 14px;}
.view_star span img {height: 14px;}
.rating_list {float: left;width: 100%;margin-top: 15px;}	
.rat_star span img {height: 15px;}
.rat_percent {line-height: 18px; font-size: 14px;}
.revier_box {margin: 35px 0px 0px;}
.m_search{ padding: 0px;}
.revier_box .form-control {height: 50px;padding: 20px 20px;font-size: 14px;}
.revier_box .btn-search {width:200px;font-size: 18px;height: 50px;margin-left: -20px !important;}
.revier_box .btn-search i {margin-left: 10px;}
.qversity_apps {padding: 40px 0px;}
.apps_details h2 {font-size: 35px;}
.apps_details p {font-size: 16px;padding: 20px 0px;}
.apps_details li img {height: 40px;}
.apps_image img {height: 390px;}
.pay_options {padding: 40px 0px 50px;}
.enroll_list {padding: 0px 0px;}
.enroll_list h2 {font-size: 25px;}
.enroll_list p {font-size: 14px;padding: 12px 0px;}
.trail_now { padding: 15px 15px;margin: 10px 0px;}
.price_list {padding-bottom: 15px; margin-bottom: 15px;}
.trail_now ul li span {font-size: 13px;}
.trail_now .btn_now {font-size: 15px;width: 180px;height: 45px;padding: 12px 15px; bottom: -22px;margin-left: -90px;}
.pay_list {padding: 0px; }
.pay_list h2 {font-size: 25px;}
.pay_list p{ font-size: 14px;padding: 12px 0px;}
.pay_dts .pay_icon {width: 70px;height: 70px;line-height: 70px;margin-bottom: 20px;}	 
.pay_icon img { height: 20px;}
.pay_dts {padding: 20px 0px 0px !important;}
	
.faculty_details{ padding: 50px 50px; width: 900px;}
.faculty_details .close {font-size: 40px;right: 20px;}
.facilty_picture{width: 40%;}
.facilty_dts {padding: 35px 35px;width: 60%;}
.facilty_dts h2{ font-size: 25px; }
.facilty_dts span{ font-size: 18px; }
.facilty_dts p{font-size: 14px;line-height: 26px;}

.overview_one {
    padding-top: 70px;
 }
	.overview_content {
    padding-left: 0px;
}
	.overview_content h2 {
		font-size: 30px;}
	.overview_content span {
		font-size: 20px;}
	.overview_one p {
    font-size: 15px;
 
    padding: 15px 0px;
    line-height: 22px;
}
	.student_benefits { height: 540px;
}
.benefits_list {padding-top: 225px;padding-left: 115px;}
.benefits_1 {padding: 15px 0px;}
.benefits_list h2 {font-size: 35px;padding-bottom: 40px;}
.benefits_1 .benefit_text h3 {font-size: 14px;line-height: 22px;}	
.overview_two::before { left: -130px; top: -55px;}
.overview2_content h2 {font-size: 30px;}
.overview2_content span {font-size: 20px;}
.overview_two p {font-size: 15px;padding: 30px 0px 0px;line-height: 22px;}
.overview2_content { height: 390px;}
	
	
}


/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 767px) {
	
.phone_no p {font-size: 12px;padding: 8px 0px;text-align: center;}
.social_media {display: none;}
.logo{text-align: center;}
.title_head {padding: 17px 10px;position: absolute;top: -45px;right: 0px;}
.title_head img {width: 14px;margin-top: 2px;}
.title_head span {font-size: 14px;padding: 0px 5px;line-height: 18px;}
.title_head .course_list {top: 40px;width: auto;right: 0px;}
.title_box { width: 80%;padding:10px 0px 5px;float: left;margin: 0px auto;}
.title_box .input-group .form-control {height: 35px;padding: 0px 15px;font-size: 12px;}
.title_box .input-group-btn > .btn {height: 35px;padding: 7px 10px;}
/*.login_sec ul {text-align: center}
.login_sec ul li {padding: 0px 2px;}
.login_sec ul li a {padding: 2px 12px;height: 30px;font-size: 12px;}
.login_sec ul li a.signup {font-size: 12px;}*/
.sm_nav {display: block;border: 1px solid #bf1e2e;font-size: 24px;padding: 0px 10px;background: #bf1e2e;color: #fff;border-radius: 4px;transition: .3s;cursor: pointer;margin: 4px 0px;position: absolute;top: -45px;right: 10px;}
.login_sec {display: none;}
.login_sec {position: absolute;top: 5px;right: 10px;width: 170px;z-index: 99;}
.login_sec ul {text-align: right;margin: 0px;padding: 3px 0px;}
.login_sec ul li {display: inline-block;list-style: none;padding-left: 5px;}
.login_sec ul li a {padding: 5px 18px;height: 35px;font-size: 13px;margin: 3px 0px;}
.login_sec ul li a.signup {font-size: 14px;}
.login_sec ul li a:hover {border-color: #333;color: #fff; background: #333;}

.d_form{ display: none;}
.m_form{ display: block;}	
.mobile_chat {display: inline-block;background: #bf1e2e;color: #fff; cursor: pointer;width: 40px;height: 40px;border-radius: 50%;right: 15px;position: fixed;bottom: 15px;font-size: 20px;text-align: center;padding: 6px 0px; z-index: 99;}	
.mobile_chat:hover {background: #000;color: #fff;}
.mobile_talk{float: left;width: 100%;background: rgba(0,15,37, 0.9);margin: 40px auto;}
.mobile_talk .modal-body{ float: left; width: 100%;text-align: center;padding: 30px 25px;}
.close {font-size: 30px;font-weight: normal;opacity: 1;line-height: 15px;position: absolute;right: 6px;top: 5px;color: #fff;}
.close:hover{ color: #fff;}
.mobile_talk h2{ font-size: 20px; color: #fff; text-transform: uppercase;margin-bottom: 25px;letter-spacing:.5px;}
.mobile_talk .form-control{border: none;background: transparent;border-bottom: 1px solid #404c59;height: 40px;padding: 0px;color: #fff;border-radius: 0px;font-size: 14px;}
.mobile_talk .form-control:hover, .mobile_talk .form-control:focus {box-shadow: none;}
.mobile_talk .form-control::placeholder{ color: #fff;}
.mobile_talk .btn_qry{ background: #bf1e2d; color: #fff; font-size: 16px;text-transform: uppercase;padding: 10px 10px; text-align: center; border:none; border-radius:30px; width: 100%; margin-top: 30px; }
.mobile_talk .btn_qry:hover{ color:#bf1e2d;}

.why_choose, .about_us, .meet_lecturers, .blog {padding: 25px 0px;}
.why_choose h1, .about_content h2 {font-size: 22px;padding: 0px; color:#333;margin-bottom: 15px;}
.sub_title h2 {font-size: 22px;color: #333;}
.sub_title .line { margin: 10px 0px;}
.sub_title .line img {padding: 0px 6px;}
.sub_title .line::after {width: 150px;margin-left: -75px;}
.sub_title p {font-size: 13px;margin-bottom: 10px;}
 
.choose_list {padding: 25px 20px;border-radius: 2px; margin: 10px 0px;}
.c_icon img {height: 35px;}
.choose_list h2 { font-size: 14px;color: #fff;font-weight: 600;line-height: 20px;}
.choose_list:hover {
    -webkit-transform: translate(0px,-10px);
    transform: translate(0px,-10px);
}
 
.about_content{ text-align:center;}
.about_content p {font-size: 13px;padding:0px 0px 10px;line-height: 22px;text-align: justify;}
.about_content .btn-learn {padding: 8px 16px;margin: 15px auto;}

.popular_course { padding: 0px 0px 25px;}
.popular_course .course_list {margin: 15px 0px;border-bottom: 2px solid #bf1e2e;}
.popular_course .course_image {float: left;}
.popular_course .course_image img {height:190px;}
.popular_course .rating_box {padding: 10px 0px;}
.popular_course .course_text {padding: 0px 0px 25px;}
.popular_course .course_text h3 {font-size: 18px;padding: 5px 0px;}
.popular_course .course_text ul.author-name { margin-bottom: 15px;}
.popular_course .course_text p {font-size: 13px;text-align: justify;}
.popular_course .all_course a {padding: 10px 20px;font-size: 15px;margin: 10px auto 0px;}
 
.our_activities {padding: 25px 0px;}
.our_activities .activity_list {width: 80%;padding:30px 20px;border: 1px solid #555555; transition:.3s;margin: 15px 10%;}
.our_activities .activity_list:hover{background: rgba(255,255,255,0.2);}
.our_activities .act_text {width: 100%;text-align: center;margin-top: 15px;}
.our_activities .act_icon {width: 100%;text-align: center;}
.our_activities .act_icon img {height: 40px;}
.our_activities .act_text h3 {font-size: 22px;color: #fff;border-bottom:none; padding-bottom:0px;margin-bottom: 0px;}
.our_activities .act_text h3::after {content: '';background: #bf1e2e;height: 2px;width: 140px;display: block;margin: 10px auto;}
.meet_lecturers .lecturer_list { padding: 25px 10px 15px;text-align: center;}
.meet_lecturers .lec_image { display: inline-block;}
.meet_lecturers .lec_image img {height: 180px; margin: 0px auto;}
.meet_lecturers .lec_text h3 {padding: 5px 0px;}
 
.upcoming_event { padding: 10px 0px 25px;text-align: center;}
.upcoming_event h2 {font-size: 22px;padding: 0px; color:#333;margin-bottom: 17px;  }
.upevent_list {padding: 15px 15px;border: 1px solid #e8e8e8;margin:8px 0px;background: #f1f1f1;border-radius: 2px;}
.upevent_date {width: 100%;text-align: center;padding: 0px 0px;}
.upevent_date h3 {font-size: 50px;line-height: 35px;padding-bottom: 5px;}
.upevent_picture {width: 100%;}
.upevent_picture img {height: 180px; margin:15px auto;}
.upevent_text {width: 100%; padding: 5px 0px;text-align: center;}
.upevent_text h4 {font-size: 18px;color: #3f3f3f;font-weight: 700;}
.upevent_text p {font-size: 13px;color: #3f3f3f;padding: 10px 0px;text-align: justify;}
.upevent_text ul li {display: inline-block;list-style: none;padding-right: 10px;font-size: 12px;color: #949599;}
.upcoming_event .btn_view {width: 130px;height: 40px;line-height: 38px;font-size: 14px; margin-top: 10px;}
 
.blog .blog_list {margin: 15px 10px; border: 1px solid #f2f2f2;transition: .3s;}
.blog .blog_image img {height: 100px;margin: 0px auto;}
.blog .owl-carousel, .meet_lecturers .owl-carousel{ padding:0px;}
.blog .blog_text ul li { padding-right: 10px;font-size: 13px;}
.blog .blog_text {padding: 0px 15px;}
.blog .blog_text ul li span {margin-right: 5px;}
.blog .blog_text ul li a {font-size: 13px;}
.blog .blog_text h3 {font-size: 18px;padding: 10px 0px;line-height: 24px;}
.blog .blog_text p {font-size: 13px;line-height: 22px; text-align:justify;}
.blog .blog_text .btn_more{ margin:15px 0px;}
.blog .owl-pagination { margin-top: 10px;}

footer {padding: 15px 0px;}
.footer_list h2 {font-size: 18px;padding: 5px 0px;}
.footer_list ul li a {font-size: 13px;color: #b7b7b7;}
.footer_list{ margin:10px 0px;}
.footer_address li {display: inline-block;font-size: 12px;padding: 5px 0px;padding-right: 8px;}
.footer_copyright p {text-align: center;padding-top: 10px;}
.footer_bottom {padding: 15px 0px;}

.mob_gap{ padding:0px;}

.login_popup {width: 94%;margin: 50px auto;}
.login_popup .fa_login, .login_popup .fa_google {float: inherit;}
.login_popup .modal-header .close {right: 15px;}
.login_popup .social_btn ul li a {padding: 10px 20x;}
.login_popup .modal-body { padding: 20px 0px;}
.login_popup .social_btn ul li:first-child::after{ display:none;}
.login_popup .social_btn ul li a {font-size: 15px;}
.login_popup .modal-header { padding: 20px 15px;}

.inner_title {padding-top: 25px;}
.inner_title h1 {font-size: 30px;font-weight: 700;}
.inner_title .breadcrumb li {font-size: 12px;}
.inner_title .breadcrumb {margin: 10px 0px;}
.special_course {padding: 25px 0px;}

.financial_modling {padding: 30px 0px;}
.fnc_main {padding: 0px 0px;}
.fnc_modling_list {margin: 20px 0px;}
.fnc_text { padding: 15px 10px;}
.fnc_modling_list:hover {-webkit-transform: translate(0px,-10px);transform: translate(0px,-10px); }
	
.enquiry_btn {position: static;float: left; width: 100%;}
.enquiry_btn a {height: 40px;line-height: 40px; float: left;width: 180px;}
.enquiry_btn a i {line-height: 40px;padding: 0px 15px;}
.fnc_nav li a {padding: 10px 5px;}
.fnc_nav li a img {margin-bottom: 5px;height: 20px;}
.fnc_nav li a span {font-size: 11px;}
.fnc_banner_text {padding: 10% 0px;text-align: center;}
.mobile_box {top: 50%;left: 50%;transform: translate(-50%, -50%);position: absolute;width: 100%;}
.fnc_banner_text h1 {font-size: 22px;}
.fnc_banner_text p {font-size: 13px;font-weight: 500; padding: 10px 0px;}
.fnc_banner_text .fnc_btns {margin-top: 0px;}
.fnc_banner_text .fnc_btns a {font-size: 12px;font-weight: normal;padding: 8px 12px;margin-right: 5px;}
.fnc_banner_text .fnc_btns a span {margin-left: 5px;line-height: 13px;}
.fnc_banner_text .fnc_btns a span img {height: 15px;}
.about_dts {padding-top: 35px; text-align: center;}
.about_dts h2 {font-size: 22px;margin-bottom: 0px;line-height: 30px;}
.about_dts span.abt_text {font-size: 16px;font-weight: 600;padding: 10px 0px;line-height: 25px;}
.about_dts p {font-size: 14px;line-height: 22px;}
.schedule_list h3 {font-size: 22px;padding: 25px 0px 15px;}
.schedule_dts {border: 1px solid #ccc;margin: 5px 0px;padding: 15px 20px;background: #f1f1f1;}
.fnc_about .view_list {width: 100%;margin-top: 15px;}
.fnc_about .view_list li {text-align: center;padding: 40px 30px;}
.fnc_about .view_list li h3 {font-size: 55px;}
.learn_course {padding: 35px 0px;}
.learn_course h2 {font-size: 22px; padding-bottom: 15px;text-align: center;}
.lrn_course_list {height: auto;margin: 10px 0px;padding: 25px 25px;}
.certificate_dts{text-align: center;}	
.certificate_dts h2 {font-size: 22px;}
.certificate_dts p {font-size: 15px;padding: 10px 0px;line-height: 24px;}
.certificate_dts .btn_get {font-size: 16px; font-weight: 700;margin: 10px 0px;}
.certificate_picture {text-align: center;margin-top: 15px;}
.certificate_view {padding-bottom: 0px;}
.certificate_rating {padding: 35px 0px; text-align: center;}
.certificate_rating h2 {font-size: 22px;padding-bottom: 30px;}
.rating_view h3 {font-size: 70px;line-height: 70px;margin-top: -20px;}
.rating_view p {font-size: 14px;}
.view_star span img {height: 14px;}
.rating_list {float: left;width: 100%;margin-top: 15px;}	
.rat_progress {width: 55%;height: 15px;}
.rat_star {width: 35%;}
.rat_star span img {height: 12px;}
.rat_percent {line-height: 12px;width: 10%;font-size: 12px;}
.revier_box {margin: 30px 0px 0px;}
.m_search{ padding: 0px;}
.revier_box .form-control {height: 50px;padding: 20px 20px;font-size: 14px;}
.revier_box .btn-search {width: 60px;font-size: 20px;height: 50px;margin-left: -20px !important;}
.revier_box .btn-search span{ display: none;}
.revier_box .btn-search i {margin-left: 0px;}
.qversity_apps {padding: 35px 0px;text-align: center;}
.apps_details h2 {font-size: 22px;}
.apps_details p {font-size: 14px;padding: 15px 0px;}
.apps_details li img {height: 35px;}
.apps_image {position: relative;top: 0px;margin-top: 25px;}
.apps_image img {margin: 0px auto;height: 300px;}
.pay_options {padding: 35px 0px;}
.enroll_list {padding: 0px 0px;text-align: center;}
.enroll_list h2 {font-size: 22px;}
.enroll_list p {font-size: 14px;padding: 12px 0px;}
.trail_now {width: 100%;padding: 15px 15px;margin: 10px 0px;}
.trail_now ul li {text-align: left;}
.trail_now .price_list h3 {font-size: 35px;}
.trail_now .offer_price del {font-size: 17px;}
.trail_now .offer_price span {font-size: 17px;}
.price_list {padding-bottom: 15px; margin-bottom: 15px;}
.trail_now ul li span {font-size: 13px;}
.trail_now .btn_now {font-size: 15px;width: 180px;height: 45px;padding: 12px 15px; bottom: -22px;margin-left: -90px;}
.pay_list {padding: 35px 0px 0px; text-align: center;}
.pay_list h2 {font-size: 22px;}
.pay_list p{ font-size: 14px;padding: 12px 0px;}
.trail_now:hover {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
.pay_dts .pay_icon {width: 70px;height: 70px;line-height: 70px;margin: 0px auto 25px;}	 
.pay_icon img { height: 20px;}
.pay_dts {padding: 20px 0px 0px !important;}

.faculty_details{width: 100%; padding: 20px 20px;margin: 30px auto;}
.faculty_details .close {font-size: 35px;top: 10px;right: 20px;color: #000;}
.facilty_picture{width: 30%;text-align: center;margin: 0px auto;float: initial;border: 1px solid #ccc;padding: 2px 2px;}
.faculty_details .modal-content {box-shadow: 0px 10px 15px #d0d5e1 !important;}
.facilty_dts {padding: 20px 20px;width: 100%;text-align: center;}
.facilty_dts h2{ font-size: 22px;  padding-bottom: 8px;}
.facilty_dts span{ font-size: 18px;padding: 8px 0px 10px;}
.facilty_dts p{font-size: 14px;line-height: 25px;}
	
.overview_one { padding: 35px 0px 25px;}
.overview_one::before { left: 0px;}
.overview_content {padding-left: 0px;}
.overview_content h2 {font-size: 25px;}
.overview_content span {font-size: 16px;  text-align: justify;}
.overview_one p {font-size: 14px;padding: 15px 0px;line-height: 22px;text-align: justify;}
.overview_image img {margin: 0px auto;}
.benefits_list {padding: 0px;}
.student_benefits {height: auto;background-image: linear-gradient(to right, #4c3a91, #86328f, #b52480, #d82268, #ed3b4a); padding: 35px 0px 25px; text-align: center;}
.student_benefits::before { display: none;}
.benefits_list h2 {font-size: 25px;color: #fff;font-weight: 800;padding-bottom: 20px;}
.benefits_1 .benefit_icon {margin-bottom: 15px;}
.benefits_1 {text-align: center;padding: 25px 25px;border: 1px solid rgba(255,255,255,0.5);margin: 10px 0px;border-radius: 4px;}
.overview_two {padding: 35px 0px;}
.overview_two::before { z-index: -1;}
.overview2_content {height: auto;margin: 0px 0px;padding: 0px;}
.overview2_content h2 {font-size: 25px;}
.overview2_content span {font-size: 16px;  text-align: justify;}
.overview_two p {font-size: 14px;padding: 0px 0px;line-height: 22px;text-align: justify;}	
.overview2_image {margin: 20px 0px;}
.overview2_image img { margin: 0px auto;}	
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 400px) and (max-device-width : 560px) {
	
.choose_list {padding: 25px 5px;}
.popular_course .rating_box {width: 85%;}
.blog .blog_image img { height: 130px;}	
.fnc_banner_text {
    padding: 10% 0px;
    text-align: center;
}	
}
 

/* Smartphones (portrait) */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape) {
	
.blog .blog_image img {height: 162px !important;}
.login_popup .social_btn ul li {padding:8px 0px;}
.about_image {text-align: center;}
.about_image img{ margin: 0px auto;}
.popular_course .course_list {text-align: center;}
.popular_course .course_text {padding: 0px 40px 25px;}
.popular_course .course_image {border: none;text-align: center;float: initial;width: 100%;}
.popular_course .course_text p {text-align: center;}
.popular_course .course_image img {height: 190px; margin: 0px auto;}
.popular_course .rating_box {padding: 10px 0px;text-align: center;float: initial;}
.popular_course .rating_box .left_view, .popular_course .rating_box .right_star {float: initial;}
.our_activities .activity_list {width: 60%; margin: 15px 22%;}	
.meet_lecturers .lec_image img {height: 160px;}	
.blog .blog_image img {height: 90px !important;margin: 15px 15px 0px;}

.fnc_banner_text {padding: 45px 0px;}
.fnc_banner_text h1 {font-size: 35px;}
.fnc_banner_text p {font-size: 16px;padding: 10px 0px 25px;}
.fnc_banner_text .fnc_btns a {font-size: 16px;padding: 10px 25px;}
.lrn_course_list {height: 200px;}
	
.faculty_details {  padding: 60px 60px; width: 90%;}
	
.mobile_b{ float: left; width: 50%;}
.mobile_b .benefits_1 { padding: 25px 10px; height: 150px;}
.mobile_b .benefits_1 .benefit_text h3 {  font-size: 14px; line-height: 20px;}
	
	
}



