
body{ margin:0px; padding:0px; font-family: 'Raleway';}
h1, h2, h3, h4, h5, h6, p, ul{ margin:0px; padding:0px;}
a:hover, a:focus{ outline:0; text-decoration:none !important;}

/*---Start fonts ---*/
@font-face {
    font-family: 'Raleway';
	font-weight:400;
    src: url(../fonts/raleway/raleway-v12-latin-regular.woff);
}
@font-face {
    font-family: 'Raleway';
	font-weight:500;
    src: url(../fonts/raleway/raleway-v12-latin-500.woff);
}
@font-face {
    font-family: 'Raleway';
	font-weight:600;
    src: url(../fonts/raleway/raleway-v12-latin-600.woff);
}
@font-face {
    font-family: 'Raleway';
	font-weight:700;
    src: url(../fonts/raleway/raleway-v12-latin-700.woff);
}
@font-face {
    font-family: 'Raleway';
	font-weight:900;
    src: url(../fonts/raleway/raleway-v12-latin-900.woff);
}
@font-face {
    font-family: 'AlfaSlabOne Regular';
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}
/*--- End fonts ---*/

.header_top{ background:#232323;}
.phone_no p{ font-size:16px; color:#fff;margin: 0px;padding: 12px 0px;}
.social_media{ background:#244475; padding:8px 0px;text-align: center; position:relative; overflow:hidden;}
.social_media span{ font-size:18px; color:#fff;display: inline-block;padding: 0px 35px;font-weight: 400;}
.social_media ul{margin: 0px;display: inline-block;}
.social_media ul li{ display:inline-block; list-style:none;}
.social_media ul li a {display: block;background: rgba(255,255,255,0.2);width: 32px;height: 32px;color: #fff;font-size: 15px;text-align: center;line-height: 35px;border-radius: 5px; margin:0px 3px; transition:.3s;}
.social_media ul li a:hover{ background:#fff; color:#244475;}
.social_media::before{ content: '';content: '';position: absolute;transform: rotate(-65deg);background: #232323;width: 70px;height: 50px;top: -13px;left: -27px;}
.menu_bar{ padding:15px 0px;}
.login_sec ul{text-align: right;margin: 0px;}
.login_sec ul li{ display:inline-block; list-style:none; padding-left:5px;}
.login_sec ul li a{display: block;border: 1px solid #999;padding: 8px 25px;color: #333; cursor:pointer; background: #fff;border-radius:20px;height: 40px;transition:.3s;font-size: 14px;line-height: 22px;}
.login_sec ul li a:hover{border-color:#bf1e2e; color:#bf1e2e;}
.login_sec ul li a.signup{ background:#bf1e2e; color:#fff; font-weight:600; border-color:#bf1e2e;font-size: 16px;}
.login_sec ul li a.signup:hover{ background:#232323; border-color:#232323; }
.title_head{ float:left;padding: 13px 15px;position: relative;}
.title_head img{float:left;}
.title_head span{float:left;font-size: 16px;font-weight: 500;padding: 0px 8px;line-height: 17px; color:#333;}
.title_head a:hover span{color:#bf1e2e;}
.title_box{ float:right;width: 58%;padding: 1px 0px;}
.title_box .input-group .form-control {display: table-cell;height: 40px;border: 1px solid #999; border-radius: 20px 0px 0px 20px;padding: 0px 20px;font-size: 14px;color: #333;}
.title_box .input-group .form-control:focus {box-shadow: none;}
.title_box .input-group .form-control::placeholder{ color:#333;}
.title_box .input-group-btn > .btn {position: relative; height: 40px;border: 1px solid #999;border-radius: 0px 20px 20px 0px;color: #bf1e2e;padding: 10px 12px; transition:.3s;}
.title_box .input-group-btn > .btn:hover, .title_box .input-group-btn > .btn:focus{ background:#bf1e2e; color:#fff; outline: 0; box-shadow: none;}
.title_head .course_list{position: absolute;background: #fff;z-index: 99;top:57px;border: 1px solid #f1f1f1; width:200px;box-shadow: 0px 3px 4px #ccc;}
.title_head .course_list ul{padding: 5px 0px;}
.title_head .course_list ul li{ display:block; list-style:none;}
.title_head .course_list ul li a{ display:block; font-size:14px; color:#333; padding:5px 10px; border-left:3px solid #fff;}
.title_head .course_list ul li a:hover{  border-color:#bf1e2e; color:#bf1e2e;}
.sm_nav{ display:none;}

.banner{ border-top: 1px solid #ccc;border-bottom: 1px solid #ccc; position: relative;overflow: hidden;}
.banner_contant{
    position: absolute;
    top: 0px;
    width: 100%;background: rgba(0,0,0,0.4);
height: 100%;
}

.banner img{ margin: 0px auto; width: 100%;}
.talk_btn{ background: #244475;border: 1px solid #244475;border-radius: 20px;width: 230px;height: 40px;display: block;text-align: center;padding: 6px 15px;font-size: 17px;color: #fff;position: absolute;transform: rotate(-90deg);font-weight: 500; top:47%;right: -95px;letter-spacing:.5px; cursor: pointer;}
.talk_btn:hover, .talk_btn:focus{ background: #bf1e2e; color: #fff;border-color:#bf1e2e; transition:.3s;}
.talk_form{ background: rgba(0,15,37, 0.9); padding: 90px 40px; width: 400px;height: 100%;position: absolute;right: 0px;top: 0px;text-align: center; }
.talk_form h2{ font-size: 30px; color: #fff; text-transform: uppercase;margin-bottom: 75px;letter-spacing:.5px;}
.talk_form .form-control{border: none;background: transparent;border-bottom: 1px solid #404c59;height: 50px;padding: 0px;color: #fff;border-radius: 0px;font-size: 16px;}
.talk_form .form-control:hover, .talk_form .form-control:focus {box-shadow: none;}
.talk_form .form-control::placeholder{ color: #fff;}
.talk_form .btn_qry{ background: #bf1e2d; color: #fff; font-size: 18px;text-transform: uppercase;padding: 12px 10px; text-align: center; border:none; border-radius:30px; width: 100%; margin-top: 50px; }
.talk_form .btn_qry:hover{ color:#bf1e2d;}
.close_btn{ position: absolute;right: 15px;top: 10px;}
.close_btn span{color: #fff;font-size:20px;}
.close_btn span:hover{ cursor: pointer; }
.talk_form{-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
-webkit-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 0.4s ease;
-webkit-transform-origin: right bottom;
-moz-transform-origin: right bottom;
-ms-transform-origin: right bottom;
-o-transform-origin: right bottom;
transform-origin: right bottom;}
.js-dropdown{transform: scale(1);}
.m_form{display: none;}


.why_choose{ text-align:center; padding:50px 0px; border-bottom:1px solid #ccc;}
.why_choose h1{ font-size:36px; color:#3f3f3f;margin-bottom: 50px;font-weight: 400;}
.why_choose .row{ margin-left:-7px; margin-right:-7px;}
.choose_list{text-align:center; padding:20px 25px; width:100%; float:left;transition:.2s;border-radius: 2px;cursor: default;}
.choose_list .c_icon{ display:block; margin-bottom:15px;}
.choose_list h2{ font-size:15px; color:#fff; font-weight:600;line-height: 20px;}
.choose_gap{ padding:0px 7px;}
.choose1{ background:#14b649;}
.choose2{ background:#2d6fd0;}
.choose3{ background:#daa612;}
.choose4{ background:#3d98c9;}
.choose5{ background:#1a9c9a;}
.choose6{ background:#d33ba0;}
.choose_list:hover {
    -webkit-transform: translate(0px,-20px);
    transform: translate(0px,-20px); transition:.2s;box-shadow: 0px 4px 10px #666;
}

.about_us{padding:50px 0px; }
.about_content h2{font-size:36px; color:#3f3f3f;padding:20px 0px 30px;font-weight: 400;}
.about_content p{font-size:14px; color:#3f3f3f;padding:8px 0px;line-height: 22px;}
.about_content .btn-learn{ background:#bf1e2e; border:1px solid #bf1e2e; padding:10px 20px; color:#fff; text-align:center; text-transform:uppercase; font-size:13px; display:inline-block;font-weight: 500;border-radius: 4px;margin-top: 30px; transition:.3s;}
.about_content .btn-learn:hover{ background:#000; border-color:#000;}
.about_image{margin-top:20px;}

.popular_course{padding:20px 0px 50px;}
.sub_title { text-align:center;}
.sub_title h2{font-size:36px; color:#3f3f3f;font-weight: 400;}
.sub_title .line{position:relative; margin:20px 0px;}
.sub_title .line::after{ content: '';background: #3f3f3f;height: 2px;width: 200px;display: block;text-align: center;position: absolute;left: 50%;margin-left: -100px;top: 50%;margin-top: -1px;z-index: -1;} 
.sub_title .line img{background: #fff;padding: 0px 5px;}
.sub_title p{font-size:14px; color:#3f3f3f;}
.popular_course .course_list{float:left; width:100%;  margin:50px 0px; border-bottom:3px solid #bf1e2e; transition:.3s;}
.popular_course .course_image{border: 1px solid #ccc;}
.popular_course .course_image img{ height:200px;}
.popular_course .rating_box{ float:left; width:100%; padding:25px 25px}
.popular_course .rating_box .left_view{ float:left;}
.popular_course .rating_box .left_view li{display: inline-block; list-style:none;padding-right: 15px;}
.popular_course .rating_box .left_view li a{display:block;color: #b7b8ba;}
.popular_course .rating_box .left_view li span{ display:inline-block; margin-right:8px;}
.popular_course .rating_box .left_view li a:hover{display:block;color: #bf1e2e;}
.popular_course .rating_box .right_star{ float:right;}
.popular_course .rating_box .right_star li{display: inline-block; list-style:none;}
.popular_course .course_text{float:left; width:100%;  padding:0px 25px 50px;}
.popular_course .course_text h3{font-size: 20px; padding:0px 0px 10px;color: #3f3f3f;}
.popular_course .course_text ul.author-name{margin-bottom:20px;}
.popular_course .course_text ul.author-name li{font-size: 13px;color: #3f3f3f;display: inline-block; list-style:none;margin-right: 20px;}
.popular_course .course_text ul.author-name li span{color:#b7b8ba; display:inline-block; margin-right:5px;}
.popular_course .course_text p{font-size:14px; color:#3f3f3f; line-height:22px;}
.popular_course .all_course {float:left; width:100%;  text-align:center;}
.popular_course .all_course a{background:#bf1e2e; border:1px solid #bf1e2e; border-radius: 4px;padding:12px 20px; color:#fff; text-align:center;font-size:18px; display:inline-block;font-weight: 500; margin:20px auto; transition:.3s;}
.popular_course .all_course a:hover{ background:#000; border-color:#000;}
.popular_course .course_list:hover { border-bottom-color:#666;background: #f5f5f5;box-shadow: 1px 10px 20px -8px #bbbbbb;
-webkit-transform: translate(0px,-10px);
    transform: translate(0px,-10px);}

.our_activities{ background:url(../images/bg_activities.jpg) no-repeat top center; background-size:cover;padding:50px 0px;}
.our_activities .activity_list{ float:left; width:100%; padding:50px 20px;}
.our_activities .act_icon{float:left; width:35%;}
.activity_list:hover .act_icon img{ 
    -webkit-transform-origin: 50% 0;transition:.5s;
    transform-origin: 50% 0;
    -webkit-animation: swinging .9s ease-in-out forwards infinite;
    animation: swinging .9s ease-in-out forwards infinite;
}
.activity_list:hover .act_text h3{ color: #bf1e2e;}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.our_activities .act_icon img {height: 50px;}
.our_activities .act_text{float:left; width:65%;}
.our_activities .act_text h3{font-size: 25px;color: #fff; border-bottom:2px solid #fff; padding-bottom:10px; margin-bottom:10px; transition:.3s;}
.our_activities .act_text p{font-size: 25px;color: #fff;line-height: 24px;}

.meet_lecturers{padding:50px 0px; overflow:hidden;}
.meet_lecturers .lecturer_list{ padding:50px 0px; }
.meet_lecturers .lec_image{ border:1px solid #ccc;transition:.3s;}
.meet_lecturers .lec_image img{height: 225px;}
.meet_lecturers .lec_text{ padding:10px 10px; text-align:center;}
.meet_lecturers .lec_text h3{font-size:16px;color: #3f3f3f; padding:10px 0px;transition:.3s;}
.meet_lecturers .lec_text p{font-size:14px;color: #3f3f3f;transition:.3s;}
.meet_lecturers .owl-pagination{float: left;width: 100%; text-align:center;}
.meet_lecturers .owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline; cursor:pointer;}
.meet_lecturers .owl-theme .owl-controls .owl-page span{display:block;width:10px;height:10px;margin:5px 4px; -webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#2f2f2f}
.meet_lecturers .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{  background:#bf1e2e ;}
.meet_lecturers .owl-carousel{display:none;position:relative;width:100%;overflow: hidden;-ms-touch-action:pan-y;}
.meet_lecturers .owl-carousel .owl-item{float:left;}
.meet_lecturers .lecturer_list:hover .lec_image{ border-color:#bf1e2e;}
.meet_lecturers .lecturer_list:hover .lec_text h3{color: #bf1e2e;}
.meet_lecturers .lecturer_list:hover .lec_text p{color: #bf1e2e;}

.upcoming_event{padding:20px 0px 50px; border-bottom:1px solid #ccc;}
.upcoming_event h2{font-size:36px; color:#3f3f3f;padding-bottom:30px;font-weight: 400;}
.upevent_list{ float:left; width:100%; padding:25px 0px;}
.upevent_date{float:left; width:18%;text-align: center;padding: 40px 0px;}
.upevent_date h3{font-size:60px; color:#bf1e2e;font-weight: 400;line-height: 45px;padding-bottom: 10px;}
.upevent_date span{font-size:15px; color:#3f3f3f;font-weight: 500;}
.upevent_picture{float:left; width:24%;}
.upevent_picture img{height: 200px;}
.upevent_text{float:left; width:58%; padding:10px 25px;}
.upevent_text h4{font-size:25px; color:#3f3f3f;font-weight: 700;}
.upevent_text p{font-size:16px; color:#3f3f3f; padding:25px 0px;}
.upevent_text ul li{ display:inline-block; list-style:none; padding-right:20px;font-size:15px; color:#949599;}
.upevent_text ul li span{ display:inline-block; margin-right:8px;}
.upcoming_event .btn_view{ background:#bf1e2e; border:1px solid #bf1e2e;width: 170px;height: 50px;line-height: 50px; padding:0px 10px; color:#fff; text-align:center; text-transform:uppercase; font-size:16px; display:inline-block;font-weight: 500;border-radius: 4px;margin-top:25px; transition:.3s;}
.upcoming_event .btn_view:hover{ background:#000; border-color:#000;}
.upevent_list:hover{ background:#f5f5f5; border-radius: 4px;}

.blog{padding:50px 0px; overflow:hidden;}
.blog .blog_list{ margin:50px 0px;border:1px solid #f2f2f2; transition:.3s;}
.blog .blog_image img{height:185px;}
.blog .blog_text{ padding:10px 30px; }
.blog .blog_text ul	{text-align:left; padding-top:10px;}
.blog .blog_text ul li{ display:inline-block; list-style:none; padding-right:30px;font-size:16px; color:#949599;}
.blog .blog_text ul li:last-child{ padding-right:0px;}
.blog .blog_text ul li a{ display:block;font-size:16px; color:#949599;}
.blog .blog_text ul li a:hover{color:#949599;}
.blog .blog_text ul li span{ display:inline-block; margin-right:8px;}
.blog .blog_text ul li a:hover{color:#bf1e2e;}
.blog .blog_text h3{font-size:25px;color: #3f3f3f; font-weight:700; padding:25px 0px;}
.blog .blog_text p{font-size:14px;color: #3f3f3f;line-height: 24px;}
.blog .blog_text .btn_more{ background:#bf1e2e; border:1px solid #bf1e2e; padding:10px 20px; color:#fff; text-align:center; text-transform:uppercase; font-size:13px; display:inline-block;font-weight: 500;border-radius: 4px;margin: 30px 0px; transition:.3s;}
.blog .blog_text .btn_more:hover{ background:#000; border-color:#000;}
.blog .owl-pagination{float: left;width: 100%; text-align:center;}
.blog .owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline; cursor:pointer;}
.blog .owl-theme .owl-controls .owl-page span{display:block;width:70px;height:6px;margin:5px 4px; background:#cccccc}
.blog .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{  background:#bf1e2e ;}
.blog .owl-carousel{display:none;position:relative;width:100%;overflow: hidden;-ms-touch-action:pan-y;}
.blog .owl-carousel .owl-item{float:left;}
.blog .blog_list:hover{box-shadow: 3px 3px 8px #ccc;}

footer{ background:#333333; padding:50px 0px;}
.footer_list h2{font-size:19px; color:#fff; text-transform:uppercase; padding:10px 0px;}
.footer_list ul li{ display:block; list-style:none; padding:5px 0px;}
.footer_list ul li a{ font-size:12px; color:#b7b7b7;}
.footer_list ul li a:hover{ color:#bf202f;}
.footer_form .form-control{background: transparent;border: none;border-bottom: 1px solid #797979;border-radius: 0px;padding: 0px;color:#b7b7b7; font-size:12px;height: 40px;box-shadow: none;}
.footer_form .form-control::placeholder{ color:#b7b7b7; font-size:12px;}
.footer_form .form-control:hover, .footer_form .form-control:focus{ box-shadow:none;}
.footer_form .form-group {margin-bottom: 30px;}
.footer_form .btn_send{width: 100px;background: #bf202f;border: 1px solid #bf202f;color: #fff;border-radius: 4px;font-size: 12px;text-transform: uppercase;padding: 8px 10px; transition:.3s;}
.footer_form .btn_send:hover{background: #fff;border-color:#fff; color:#bf202f;}

.footer_bottom{ background:#202020; padding:30px 0px;}
.footer_address li{ display:inline-block; list-style:none; font-size:12px; color:#fff;padding-right: 30px;}
.footer_address li span{ display:inline-block; margin-right:8px;color:#bf202f;font-size: 14px;}
.footer_copyright p{ font-size:12px; color:#fff;text-transform: uppercase;text-align: right;}
.footer_copyright p span{color:#bf202f;}

.login_popup{width: 380px;border-radius: 10px;overflow: hidden;background: #fff;margin: 150px auto;}
.login_popup .modal-header{float: left;width: 100%;background: #fff; padding:20px 30px; text-align:left;border-bottom: 1px solid #e5e5e5;}
.login_popup .modal-header .close {margin-top: 0px;color: #333;opacity: 1;font-size:40px;font-weight: normal;position: absolute;right: 30px;top: 15px;line-height: 20px;}
.login_popup h2{ font-size:14px; color:#303030; font-weight:700;}
.login_popup .modal-body {position: relative;padding: 15px;float: left;width: 100%;background: #fff; padding: 25px 15px; text-align:center;}
.login_popup h3{font-size:14px; color:#303030; text-transform:uppercase;}
.login_popup .social_btn ul li{ display:block; list-style:none; padding-bottom:10px; position:relative;}
.login_popup .social_btn ul li a{ display:block; font-size:18px; color:#fff;padding: 10px 15px; text-align:left; border-radius:30px;font-weight: 600;}
.login_popup .social_btn ul li a span{display:inline-block;  margin-right:10px;}
.login_popup .fa_login a{background:#1a538a;}
.login_popup .fa_google a{background:#f9402e;}
.login_popup .social_btn ul li a:hover{background:#333; text-decoration:none;}
.login_popup .input-group{ width:100%;}
.login_popup .form-group { margin-bottom: 15px;}
.social_btn ul {
    margin-bottom: 15px;
}
.login_popup .form-control {border: 1px solid #e5e5e5;box-shadow: none;padding-left: 40px;height: 45px;border-radius: 30px !important;color:#666; font-size:16px;}
.login_popup .form-control::placeholder{ color:#666; font-size:16px;}
.login_popup .form-control:hover {border-color:#bf1e2e;}
.login_popup .input_addon {position: absolute;color: #cacbcc;z-index: 99;left: 0px;width: 42px;height: 45px;line-height: 45px;font-size: 16px;}
.login_popup .btn_submit{display: block;background: #bf1e2e;height: 45px;text-align: center;font-size: 18px;color: #fff;padding:8px 10px;width: 100%;border: 1px solid #bf1e2e;border-radius:30px; transition:.3s;}
.login_popup .btn_submit:hover{background: #333;border-color:#333;}
.login_popup .forgot_password{float: left;width: 100%;}
.login_popup .forgot_password p{color:#3f3f3f; font-size:14px;text-align: right;}
.login_popup .forgot_password p a{color:#244475; display:inline-block; font-weight: 500; }
.login_popup .term_c{float: left;width: 100%;  margin:15px 0px;}
.login_popup .term_c p{color:#3f3f3f; font-size:10px;}
.login_popup .term_c p a{color:#244475;  display:inline-block; }
.login_popup .sign_up{float: left;width: 100%; border-top: 1px solid #e5e5e5; padding-top:20px;}
.login_popup .sign_up p{color:#3f3f3f; font-size:14px;font-weight:500;}
.login_popup .sign_up p a{color:#244475; display:inline-block; font-weight:600; }
.login_popup a:hover{ text-decoration:underline;}

.login_popup .check-box{ float:left; width:100%;margin-bottom: 20px;}
.login_popup .check-box span{ float:left; width:100%; text-align:left;}
.login_popup input[type="checkbox"]:not(old) {width:18px;margin: 0;padding: 0;opacity: 0;height: 20px;}
.login_popup input[type="checkbox"] {position: absolute;cursor: pointer;}
.login_popup input[type="checkbox"]:checked:not(old) + label {
background: url('../images/uncheck.png') no-repeat top left;content: "\f14a";}
.login_popup input[type="checkbox"]:not(old) + label {
display: inline-block;margin: 0;color: #a5a5a5;background: url('../images/check.png') no-repeat top left;padding-left:25px;background-size: 16px;font-weight: normal;width: 100%;font-size: 12px; line-height:18px; color:#3f3f3f; height:20px;}


.inner_title{ padding-top:50px; border-top:1px solid #cccccc;}
.inner_title h1{ font-size:72px; color:#00338d;font-weight: 900;position: relative;}
.inner_title .breadcrumb_list{ border-bottom:1px solid #ccc;}
.inner_title .breadcrumb > li + li::before {padding: 0 8px;color: #333;content: "\f105";font-family: 'FontAwesome';font-size:15px;}
.inner_title .breadcrumb{padding: 0px 0px;background-color: transparent;border-radius: 0px;margin:20px 0px;}
.inner_title .breadcrumb li{color: #333;font-size: 14px;}
.inner_title .breadcrumb li a{color: #333;}
.inner_title .breadcrumb li a:hover{ color:#bf1e2e;}

.special_course{padding:80px 0px; position: relative; overflow: hidden;}
.special_course::before{ content: '';position: absolute;background: url(../images/left_bg.png) no-repeat top left;width: 100%;height: 100%;top:300px;
left: -40px;}
.container_gap{padding: 0px 5px;}
.spl_gap{ padding:10px 10px;}
.spl_list{ position: relative;border-radius: 4px;overflow: hidden;box-shadow: 2px 2px 8px #ccc; transition:.3s;display: block; }
.spl_picture img{height: 208px;width: 100%;}
.spl_overlap{ position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;}
.spl_text{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;text-align: center;padding: 0px 40px;}
.spl_text h2{ font-size:23px; color:#fff;line-height: 30px;}
.spl_color1 {background:rgba(58, 63, 129, 0.8);}
.spl_color2 {background:rgba(241, 100, 108, 0.8);}
.spl_color3 {background:rgba(14, 110, 152, 0.8);}
.spl_color4 {background:rgba(182, 93, 133, 0.8);}
.spl_color5 {background:rgba(127, 140, 67, 0.8);}
.spl_color6 {background:rgba(158, 59, 124, 0.8);}
.spl_color7 {background:rgba(142, 85, 47, 0.8);}
.spl_color8 {background:rgba(14, 147, 152, 0.8);}
.spl_color9 {background:rgba(58, 63, 129, 0.8);}
.spl_color10 {background:rgba(241, 100, 108, 0.8);}
.spl_color11 {background:rgba(14, 110, 152, 0.8);}
.spl_color12 {background:rgba(182, 93, 133, 0.8);}
.spl_list:hover {transform: scale(1.1); }

.financial_modling{ padding: 80px 0px; position: relative;}
.financial_modling::before{ content: '';position: absolute;background: url(../images/right_bg.png) no-repeat top right;width: 100%;height: 100%;top:0px;right: 0px;}
.fnc_modling_list{float: left;width: 100%;border: 1px solid #ccc;padding: 10px 10px 0px 10px; margin: 10px 0px;transition:.3s;background: #fff;}
.fnc_images{margin-top: -30px;box-shadow: 0px 4px 12px #8A8A8A;border-radius: 4px;margin-bottom: 3px;position: relative;overflow: hidden;}
.fnc_images img {height: 160px;width: 100%;border-radius: 4px;}
.fnc_images span.new{position: absolute;background: #f1be35;color: #000;text-transform: uppercase;font-weight: 900;font-size: 9px;padding: 5px 15px;top: 8px;left: 0px; }
.fnc_overlap{position: absolute;bottom: 0px;  width: 100%;}
.l_course{ float: left; width: 68%;background: #aa91ff;padding: 5px 5px;}
.l_course h2{font-size: 10px; color: #fff;line-height: 17px;}
.l_course p{font-size: 8px; color: #fff;}
.r_city{float: right; width: 32%;background: #303331;padding: 5px 5px;}
.r_city p{font-size: 9px; color: #fff;text-align: right;line-height: 14px;}
.fnc_text{float: left;width: 100%;padding: 15px 15px;}
.course_name p{ font-size: 12px; color: #525c65;}
.course_name h3{font-size: 18px; color: #333;padding: 15px 0px;line-height: 25px; border-bottom: 1px solid #ccc;}
.pro_details{margin: 15px 0px;}
.pro_details img{margin-right: 10px;}
.pro_details span{font-size: 12px;color: #333; text-transform: uppercase;font-weight: 500;}
.price_dts{float: left;width: 100%;margin-bottom: 15px;}
.price_dts .rating{float: left;}
.price_dts .rating li{ display: inline-block; list-style: none;}
.price_dts .price{float: right;font-size: 13px;color: #d22731;border: 1px solid #d22731;border-radius: 20px;font-weight: 900;padding: 3px 12px;text-align: center;}
.price_dts .price i{margin-right: 4px;font-weight: 900;}
.session{float: left;width: 100%;}
.session li{display: inline-block; list-style: none;color: #525c65; font-size: 12px;font-weight: 500;}
.session li:last-child{ float: right; }
.session li:last-child span{ line-height: 16px;}
.session li span{ float: left;margin-right: 5px;line-height: 13px;}
.fnc_modling_list:hover {
    -webkit-transform: translate(0px,-20px);
    transform: translate(0px,-20px); transition:.3s;box-shadow: 0px 4px 10px #ccc; background: #f1f1f1;
}
.fnc_modling_list:hover h3{color: #d22731;}


.fnc_nav li { display: inline-block; list-style: none;width: 20%;float: left;text-align: center;}
.fnc_nav li a{display: block;padding: 15px 15px;}
.fnc_nav li a img{margin-bottom: 5px; }
.fnc_nav li a span{ display: block; font-size: 14px; color: #161616;font-weight: 500;}
.fnc_nav li.active a span{color: #bf1e2e;}
.fnc_nav li.active a{ background: #f3f3fb;}
.fnc_nav li a:hover{ background: #f3f3fb;}
.fnc_nav li a:hover span{ color: #bf1e2e;}
.fnc_banner{ position: relative;}
.fnc_banner_img img{ margin: 0px auto;}
.fnc_banner_text {position: absolute;top: 0px;background: rgba(0,0,0,0.5);width: 100%;height: 100%;padding-top: 315px;}
.fnc_banner_text h1{ font-size: 70px; color: #fff;font-weight: 900;}
.fnc_banner_text p{ font-size: 18px; color: #fff;font-weight: 900;}
.fnc_banner_text .fnc_btns{margin-top: 30px;}
.fnc_banner_text .fnc_btns a{font-size: 20px;color: #fff;background: #000000;display: inline-block;padding: 12px 45px;font-weight: 900;border-radius: 30px;margin-right: 20px; transition: .3s; cursor: pointer;}

.fnc_banner_text .fnc_btns a:hover{ background: #bf1e2e;  color: #fff;}
.fnc_banner_text .fnc_btns a.fnc_icon1:hover{ background: #000 !important; color: #fff;}

.fnc_banner_text .fnc_btns a span{ margin-left: 10px;float: right;line-height: 16px;}
.fnc_icon1{background: #bf1e2e !important;}
.fnc_about .view_list{width: 240px;float: right;}
.fnc_about .view_list li{ display: block; background: #00338d;text-align: left;padding: 40px 30px;transition: .3s;}
.fnc_about .view_list li:hover{background: #bf1e2e !important; transition: .3s;}
.fnc_about .view_list li h3{ font-size: 90px; color: #fff;font-family: 'AlfaSlabOne Regular';}
.fnc_about .view_list li span{ font-size: 18px; color: #fff;font-weight: 600;}
.fnc_about .view_list li:nth-child(2){ background: #000;}

.enquiry_btn{position: absolute;right: 0px;top: 0px;}
.enquiry_btn a{font-size: 15px;margin: 15px 0px;color: #333;background: #f1be35;width: 200px;height: 60px;float: right;font-weight: bold;text-align: center;line-height: 60px; transition: .3s;}
.enquiry_btn a i{background: #dba921;float: right;display: inline-block;padding: 0px 25px;line-height: 60px; height: 100%;transition: .3s;}
.enquiry_btn a:hover{background: #333;color: #fff;}
.enquiry_btn a:hover i{background: #000;}
.about_dts{ padding-top: 80px;}
.about_dts h2{ font-size: 45px; color: #333333; font-weight: 900;margin-bottom: 10px;}
.about_dts span.abt_text{font-size: 25px; color: #525c65;font-weight:700; display: block; padding: 20px 0px;line-height: 30px;}
.about_dts p{font-size: 18px; color: #333333;line-height: 28px;}
.schedule_dts {border-right: 1px solid #ccc;padding-right: 50px;margin-right: 20px;}
.no_border{ border:none;}
.schedule_list h3{font-size: 35px; color: #333333;font-weight: 900; padding: 25px 0px;}
.schedule_dts span{font-size: 18px; color: #00338d;}
.schedule_dts h4{font-size: 18px; color: #333333;font-weight:600;padding: 10px 0px;}
.schedule_dts p{font-size: 16px; color: #525c65;line-height: 22px;}
.schedule_dts:hover span{ color: #bf1e2e;}
.learn_course{ padding: 80px 0px;}
.main_learn_course{ position: relative;}
.main_learn_course::before{ content: '';position: absolute;background: url(../images/fnc_bg.png) no-repeat top right;width: 100%;height: 100%;top:-100px;right: 0px;z-index: -1; background-size: 100%;}
.learn_course h2{ font-size: 35px; color: #333;font-weight: 900; padding-bottom: 35px;}
.lrn_course_list{width: 100%;height: 260px;padding: 35px 35px; position: relative; margin: 15px 0px;}
.lrn_course_list span.offer{font-size: 9px; color: #fff; display: inline-block; background: #e40018; position: absolute; top: -3px; left: -3px; padding: 4px 14px; text-transform: uppercase;text-align: center;}
.lrn_course_list h3{font-size: 18px; color: #fff;padding-bottom: 15px; font-weight: 800;line-height: 25px;}
.lrn_course_list ul{ padding-left: 15px;}
.lrn_course_list li{ list-style: square;font-size: 16px;color: #fff;padding: 2px 0px;}
.lrn_bg1{ background: #24447e;}
.lrn_bg2{ background: #f1646c;}
.lrn_bg3{ background: #0e6e98;}
.lrn_bg4{ background: #b65d85;}
.lrn_bg5{ background: #8e552f;}
.lrn_bg6{ background: #575c39;}
.lrn_bg7{ background: #2f3140;}
.lrn_bg8{ background: #0e9398;}
.lrn_bg9{ background: #3a3f81;}
.lrn_icon {position: absolute;right: 0px;bottom: 0px;}
.lrn_course_list:hover .lrn_overflow{ transform: scale(1);}
.lrn_overflow {position: absolute;width: 100%;height: 100%;bottom: 0;left: 0;right: 0;overflow: hidden;transform: scale(0);transition: .3s ease;}
.lrn_text{ text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.lrn_text i{color: #000;background: #fff;width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;margin-bottom: 10px;}
.lrn_text span{ display: block;font-size: 18px; color: #fff; font-weight: 800;text-transform: uppercase;}
.overflow_bg1{background: rgb(36, 68, 126, 0.7);}
.overflow_bg2{background: rgb(241, 100, 108, 0.7);}
.overflow_bg3{background: rgb(14, 110, 152, 0.7);}
.overflow_bg4{background: rgb(182, 93, 133, 0.7);}
.overflow_bg5{background: rgb(142, 85, 47, 0.7);}
.overflow_bg6{background: rgb(87, 92, 57, 0.7);}
.overflow_bg7{background: rgb(47, 49, 64, 0.7);}
.overflow_bg8{background: rgb(14, 147, 152, 0.7);}
.overflow_bg9{background: rgb(58, 63, 129, 0.7);}
.certificate_view {padding-bottom: 80px;}
.certificate_dts h2{ font-size: 35px; color: #333;font-weight: 800;}
.certificate_dts p{font-size: 17px; color: #525c65;padding: 30px 0px;line-height: 27px;}
.certificate_dts .btn_get{ display: inline-block; font-size: 21px; color: #fff; background: #e40018; padding: 10px 20px; text-transform: uppercase;text-align: center;font-weight: 800;border-radius: 4px; transition: .3s;}
.certificate_dts .btn_get:hover{ background: #333; }
.certificate_picture{ text-align: center;}
.certificate_picture img{border: 6px solid #e49c00;margin: 0px auto;box-shadow: 4px 4px 15px #adadad;}
.certificate_rating{ padding: 40px 0px;}
.certificate_rating h2{ font-size: 35px; color: #333;font-weight: 800; padding-bottom: 70px;}
.rating_view h3{ font-size: 102px; color: #3f3f3f; font-weight: bold;line-height: 100px;margin-top: -20px;}
.rating_view{ text-align: center;}
.rating_view p{ font-size: 20px; color: #525c65; font-weight: bold;}
.rating_view .view_star {padding: 5px 0px;}
.rating_list li{ float: left;width: 100%; list-style: none;padding: 5px 0px;}
.rat_progress{float: left;width: 80%;}
.rat_progress {height: 18px;margin-bottom:0px;overflow: hidden;background-color: #f3f3fb;border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);box-shadow: none;}
.rat_progress .progress-bar {background-color: #a2a2b3;}
.rat_star{float: left;line-height: 10px;width: 16%; text-align: center;}
.rat_percent{float: left;line-height: 16px;width: 4%;text-align: left;}
.revier_box .form-control{height: 75px;border-radius: 50px 0px 0px 50px;padding: 20px 35px; color: #a4a4a4; font-size: 20px;box-shadow: 0px 0px 8px #ccc;border: none;}
.revier_box .form-control::placeholder{color: #a4a4a4;  }
.revier_box .btn-search{ background: #0041b3; color: #fff; width: 225px; font-size: 20px; height: 75px; border-radius: 50px !important; margin-left: -50px !important;z-index: 99 !important; transition: .3s;}
.revier_box .btn-search:hover{ background: #333;}
.revier_box .btn-search i{ margin-left: 20px;}
.revier_box {margin: 30px 0px;float: left;width: 100%;}
.mid_side_bg{ position: relative;}
.mid_side_bg::before{ content: '';position: absolute;background: url(../images/mid_bg.png) no-repeat top left;width: 100%;height: 100%;top:0px;left: 0px;z-index: -1; background-size: 100%;}
.qversity_apps{ background: #0041b3; padding:80px 0px;overflow: hidden;}
.apps_details h2{ font-size: 35px; color: #fff;font-weight: bold;}
.apps_details p{font-size: 18px; color: #fff; padding: 30px 0px;}
.apps_details li{ display: inline-block; list-style: none;}
.apps_image{position: absolute;top: 0px;right: 0px;}
.pay_options{padding: 40px 0px;}
.enroll_list{padding: 40px 0px; float: left; width: 100%;}
.enroll_list h2{font-size: 35px; color: #333;font-weight: 800;}
.enroll_list p{font-size: 18px; color: #525c65; padding: 20px 0px;}
.pay_list h2{font-size: 35px; color: #333;font-weight: 800;}
.pay_list p{font-size: 18px; color: #525c65; padding: 20px 0px;}
.trail_now{width: 380px;padding: 35px 35px;box-shadow: 0px 0px 10px #ccc;border-radius: 4px; float: left; position: relative;margin: 40px 0px;transition:.3s;background: #fff;}
.price_list {position: relative;float: left;width: 100%;border-bottom: 1px solid #ccc;padding-bottom: 30px;margin-bottom: 30px;}
.trail_now .price_list h3{ font-size: 44px; color: #bf1e2e;font-weight: bold;float: left;}
.trail_now .offer_price {position: absolute;right: 0px;top: 10px;}
.trail_now .offer_price del{ font-size: 20px; color: #787878;font-weight: normal;}
.trail_now .offer_price span{font-size: 20px; color: #333333;font-weight: 500;display: inline-block;padding: 0px 10px;}
.trail_now ul{ padding-left: 15px;float: left;width: 100%;margin-bottom: 20px;}
.trail_now ul li{ color: #bf1e2e; list-style: square;padding: 5px 0px;line-height: 20px;}
.trail_now ul li span{ display: block;font-size: 16px; color: #525c65;}
.trail_now .btn_now{ background: #bf1e2e; font-size: 18px; color: #fff; width: 290px; height: 55px; text-align: center; display: inline-block;padding: 15px 30px;border-radius: 30px;position: absolute;left: 50%;bottom: -27px;margin-left: -145px; transition: .3s;}
.trail_now:hover {
    -webkit-transform: translate(0px,-20px);
    transform: translate(0px,-20px); transition:.3s;box-shadow: 0px 4px 10px #ccc; background: #fff;
}
.trail_now .btn_now:hover{ background: #333;}
.pay_list{ padding: 40px 0px;float: left; width: 100%;}
.pay_dts{ padding: 40px 0px;padding-right: 30px;}
.pay_dts .pay_icon{width: 90px;height: 90px;text-align: center;line-height: 90px;border-radius: 50%;box-shadow: 4px 4px 8px #ccc;margin-bottom: 35px; transition: .3s;background: #fff;}
.pay_dts h3{ font-size: 18px; color: #333; font-weight:bold;}
.pay_dts p{font-size: 16px; color: #525c65;padding: 10px 0px;}
.pay_dts:hover .pay_icon{transform: rotate(360deg);}

.faculty_details{ background: url(../images/facilty-bg.jpg) no-repeat top center;width: 1050px; padding: 70px 70px;margin: 50px auto;background-size: 100%;}
.faculty_details .close {font-size: 45px;font-weight: 500;text-shadow:none;opacity: 1;position: absolute;top: 5px;right: 25px;}
.faculty_details .modal-content {background-color: transparent;box-shadow: 15px 15px 20px #d0d5e1 !important;border: none;}
.faculty_details .modal-body{padding: 0px;background: #fff;}
.facilty_picture{float: left;width: 40%;}
.facilty_dts {padding: 60px 50px;float: right; background: #fff;width: 60%;}
.facilty_dts h2{ font-size: 30px; color: #000; border-bottom: 1px solid #ccc; padding-bottom: 10px;font-weight: 500;}
.facilty_dts span{ display: block;font-size: 20px; color: #555555; padding: 10px 0px 15px;}
.facilty_dts p{font-size: 15px; color: #000;line-height: 28px;}

.overview_one{ padding-top: 130px; position: relative; padding-bottom: 20px;}
.overview_one::before{ content: '';position: absolute;background: url(../images/overview-bg.png) no-repeat top left;width: 100%;height: 100%;top:0px;left: -40px;background-size: 100%;z-index: -1;}
.overview_content{ padding-left: 100px; }
.overview_content h2{ font-size: 35px; color: #333333; font-weight: 800;}
.overview_content h2::after{ content:''; background: #ff5465; width:60px; height: 6px;display: block;
margin: 10px 0px 20px;}
.overview_content span{font-size: 22px; color: #00338d;font-weight: 500;display: block;}
.overview_content p{font-size: 17px; color: #525c65;padding: 20px 0px;line-height: 25px;}
.overview_one p{font-size: 17px; color: #525c65;padding: 20px 0px;line-height: 25px;}

.student_benefits{ position: relative; overflow: hidden;height: 660px;}
.student_benefits::before{ content: '';position: absolute;background: url(../images/student_bg.png) no-repeat top right;width: 100%;height: 100%;top:0px;right:-75px;background-size: 100%;z-index: -1;}
.overview_content{ padding-left: 100px; }
.benefits_list{ float: left; width: 100%; padding-top: 285px; padding-left: 105px;}
.benefits_list h2{ font-size: 55px; color: #fff; font-weight: 800; padding-bottom: 40px;}
.benefits_1{ text-align: center;padding: 20px 8px;}
.benefits_1 .benefit_icon{margin-bottom: 20px;}
.benefits_1 .benefit_text h3{ font-size: 16px; color: #fff; font-weight: bold;line-height: 25px;}

.overview_two{ padding-top: 100px; position: relative;padding-bottom: 50px;}
.overview_two::before{ content: '';position: absolute;background: url(../images/overview2-bg.png) no-repeat top left;width: 100%;height: 100%;top:0px;left:0px; z-index: 1;}
.overview2_content{padding-right: 20px;z-index: 99;position: relative;margin-top: 130px;height: 450px;}
.overview2_content h2{ font-size: 35px; color: #333333; font-weight: 800;}
.overview2_content h2::after{ content:''; background: #ff5465; width:60px; height: 6px;display: block;margin: 10px 0px 20px;}
.overview2_content span{display: block;font-size: 23px; color: #00338d;font-weight: 500;}
.overview_two p{font-size: 14px; color: #525c65;padding:40px 0px;line-height: 25px;position: relative;z-index: 99}


/*--- btn-effetc ---*/
.btn-effetc {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-effetc:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out; 
	border-radius:30px;
	 
}
.btn-effetc:hover:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
						
 
 